.aboutCard {
	margin: auto;
	margin-top: 80px;
	width: 80%;
	display: flex;
	border: 1px solid black;
}
.aboutCard div {
	padding: 0%;
}
.aboutLogo {
	border-radius: 50% 75% 50% 75%;
}
.cardHeading {
	width: fit-content;
	font-size: 3em;
	padding-left: 4%;
	margin-top: 8%;
}
.cardDesc {
	width: 90%;
	text-align: left;
	padding-left: 4%;
	margin-top: 3%;
}
