@media screen and (max-width: 992px) {
	#myNavItemID {
		text-align: left;
		background-color: white;
		color: black;
	}
	#myBrand {
		color: black !important;
		font-weight: 800;
	}
}

.myNavBar {
	width: 100%;
	box-shadow: 0 15px 15px -8px rgba(0, 0, 0, 0.1);
}

.myNavbarNav {
	height: 100%;
	padding-top: 0;
	padding-bottom: 0;
}

#myBrand {
	margin-right: 3%;
	color: white;
}

.myNavBarUl {
	width: 35%;
}

.myNavItem {
	width: 50% !important;
	text-align: center;
}

.myNavItem:hover {
	background-color: #b8bde5;
	color: white;
}

.myNavLink {
	font-weight: 600;
}
