.projectsContainer {
	margin: auto;
	margin-top: 12%;
	width: 80%;
}
.clipDiv {
	text-align: center;
}
.clipIcon {
	font-size: 3em;
	color: #61688e;
	margin-top: 1%;
}
.projectHeading {
	color: #b4b9e7;
	width: fit-content;
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 2%;
}
.clipIcon:hover {
	color: #b4b9e7;
}

.projectTitle,
.projectDate,
.projectDesc {
	width: fit-content;
	margin-left: 5%;
}

.projectTitle {
	margin-top: 5%;
	text-align: left;
}
.projectTitleLink {
	color: #61688e;
}

.projectTitleLink:hover {
	color: #ffdb8a;
	text-decoration: none;
}

.projectDesc {
	text-align: justify;
	margin-right: 5%;
	font-size: 1.2em;
}
