.skyLineDiv {
	background-image: url(../images/skyline-purple.png);
	width: 100%;
	height: 3.3rem;
	background-repeat: repeat-x;
	background-size: contain;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.foot {
	width: max-content;
	font-size: 0.8em;
	padding-bottom: 0px;
	padding-right: 1%;
	margin-bottom: 0px;
	margin-right: 0px;
	text-align: right;
	color: white;
	position: fixed;
	bottom: 0;
	right: 0;
}
.foot img {
	width: 20%;
	height: auto;
}
